{% extends "base.html" %}

{% block head_title %} {{ form.instance.name }} |Game items || {{block.super}} {% endblock head_title %}

{% block content %}
<h1>{{ form.instance.name }}</h1>
<p>Best Match: {{ object.game.name }}</p>
 {% if object.contents %}
 Contents
 <ul>
     {% for item in form.instance.get_contents %}
      <li>{{ item }}</li>
      {% endfor %}
  </ul>
{% endif %}

  {% if form.instance.excludes %}
  Excludes
   <ul>
       {% for item in form.instance.get_excludes %}
        <li>{{ item }}</li>
       {% endfor %}
    </ul>
{% endif %}
<hr/>
<h3>Make Changes</h3>
{% include 'snippets/form-snippets.html' with form=form %}
{% endblock %}
